.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: auto;
}


body {
  background-image: url(./photos/background.jpg);
  justify-content: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  padding-bottom: 5em ;
}